<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-sm custom-navbar">
    <a class="navbar-brand" href="/">The Tech-Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
        <button class="no-button" id="logout">Logout</button>
        {{!-- <a class="nav-item nav-link" href="#">Logout</a> --}}
        {{else}}
        <a class="nav-item nav-link" href="/login">Login</a>
        {{/if}}
      </div>
    </div>
  </nav>

  {{!-- <section class="jumbotron jumbotron-fluid custom-jumbotron">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-right">
          <h1>
            Welcome to the Tech-Blog!
          </h1>
        </div>
        <div class="col-12 col-md-6">
        </div>
      </div>
    </div>
  </section> --}}

  <main class="container my-3">
    <div class="row">
      {{{body}}}
    </div>
  </main>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</html>