<div class="card">
  <div class="card-header custom-card-header">
    <h5> {{title}}</h5>
    <div>Posted by {{user.username}} on {{format_date createdAt}}
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
</div>

<div class="col-12 mt-2">
  <form id="comment-form">
    <div class="form-group">
      <label for="user-comment">Leave a comment:</label>
      <textarea id="comment" name="user-comment" class="form-control">
      </textarea>
    </div>
    <button type="submit" class="btn custom-btn">Submit</button>
  </form>
</div>

<script src="js/comment.js"></script>
